@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

i em{
	font-style: normal;
}

sup,
sub{
	line-height: 1;
	font-size: .75em;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure header p{
	font-variant: small-caps;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

abbr.era{
	font-variant: all-small-caps;
}

blockquote header{
	margin-bottom: 1em;
}

article header + p{
	margin-top: .5em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="chapter"] ul{
	list-style-type: none;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

article[epub|type~="z3998:diary-entry"] + article[epub|type~="z3998:diary-entry"],
article[epub|type~="z3998:diary-entry"] > section{
	margin-top: .5em;
}

blockquote header [epub|type~="se:letter.dateline"]{
	text-align: initial;
	font-style: italic;
}

[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p,
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:speech"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:speech"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:speech"] p > span + br{
	display: none;
}

span.elision{
	margin: .5em;
	margin-left: 3em;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}

table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	vertical-align: top;
	padding: .5em;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
	font-variant: all-small-caps;
}

[epub|type~="z3998:stage-direction"]{
	text-align: right;
	font-style: italic;
}

[epub|type~="z3998:stage-direction"] [epub|type~="z3998:persona"]{
	font-style: normal;
}

[epub|type~="z3998:dramatis-personae"] [epub|type~="z3998:actor"]{
	text-align: right;
	padding-left: 2em;
}

[epub|type~="endnote"] ol{
	list-style-type: upper-roman;
}

/* Epitaph, in the introduction and endnotes */
.epitaph p{
	text-align: center;
	text-indent: 0;
}

.epitaph p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

.epitaph p > span + br{
	display: none;
}

.epitaph > div{
	display: flex;
	justify-content: space-evenly;
}

#introduction .epitaph > p:last-child{
	margin-top: .5em;
}

#entry-1661-5-2 header p{
	font-variant: small-caps;
}

/* Ledger, in chapter 82 */
#chapter-82 table{
	width: 100%;
	margin: 1em 0;
}

#chapter-82 td{
	padding: .25em 1em .25em 0;
	vertical-align: bottom;
}

#chapter-82 td:last-child{
	padding-right: 0;
	text-align: right;
	font-variant-numeric: tabular-nums;
}

#chapter-82 tbody + tbody > tr:first-child > td:last-child,
#chapter-82 .subtotal td:last-child{
	border-top: 1px solid;
}

#endnotes blockquote > blockquote{
	margin-left: 0;
	margin-right: 0;
}

#foreword header p + p{
	margin-top: 1em;
}

#note-21 table{
	margin: 1em;
}

#note-21 table tbody td + td ~ td{
	text-align: right;
}
